.client-logos__image-wrapper {
  text-align: center;
  padding-bottom: 4rem;

  @include respond(tab-port) {
    padding: 2rem;
  }
  @include respond(phone) {
    padding: 1rem;
  }
}

.client-logos__text {
  font-size: $md-font-size;
  color: $normal-grey;
}
