.about-page__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-page__image--img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

.about-page__image--img-1 {
  background-image: url(/images/about-image-1.jpg);
}

.about-page__image--img-2 {
  background-image: url(/images/about-image-2.jpg);
}

.about-page__image--overlay {
  background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  z-index: 1;
  opacity: 0.3;
}
