/* SVG Icons */
.service__icon-svg {
  width: 6rem;
}

.service__card-wrapper {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  padding: 40px 35px 50px;
  text-align: center;
  background: #fff;
  margin: 0 0 30px;
}

/* Title */
.service__heading-title {
  font-size: 1.7rem;
  font-weight: bold;
}

/* Text */
.service__text {
  line-height: 1.9em;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  margin: 0;
}
