// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

$bg-grey-light: #f6f9fb;
$bg-grey: #f2f4f7;

$light-grey: #dbe1e5;
$normal-grey: #7c8a92;
$dark-grey: #333333;

$dark-blue: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$sm-font-size: 1.4rem;
$md-font-size: 1.7rem;
$lg-font-size: 2.4rem;
