footer {
  padding-bottom: 3rem !important;

  h3 {
    text-transform: uppercase;
    font-size: $sm-font-size;
    font-weight: bold;
  }

  .content-wrapper {
    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  .list-group-item {
    display: flex;
    border: none;
    padding-left: 0px;
    background-color: transparent;

    img {
      height: 2rem;
      width: 2rem;
      display: inline-block;
      padding-right: 5px;
    }

    a {
      font-size: $sm-font-size;
      display: inline-block;
      transition: all 0.3s;

      &:hover {
        color: $primary-color !important;
        text-decoration: none;
      }
    }

    span {
      font-size: $sm-font-size;
      display: inline-block;
      transition: all 0.3s;
    }
  }
}
