@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding-top: 6.8rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
