// Headings
.section-title {
  font-size: $lg-font-size;
  font-weight: bold;

  @include respond(phone) {
    font-size: 2.1rem;
  }

  &--big {
    font-size: 3.5rem;
    font-weight: bold;

    @include respond(phone) {
      font-size: 2.1rem;
    }
  }
}
.section-subtitle {
  font-size: 2rem;

  @include respond(phone) {
    font-size: $md-font-size;
  }
}

/* Font-Sizes */
.font-default {
  font-size: $default-font-size !important;
}
.font-small {
  font-size: $sm-font-size !important;
}
.font-medium {
  font-size: $md-font-size !important;
}
.font-big {
  font-size: $lg-font-size !important;

  @include respond(phone) {
    font-size: 2rem !important;
  }
}
